:root {
    --color-white: #F8F6F0;
    --color-brown-dark: #482B1E;
    --color-beige: #866655;
    --color-beige-light: #AF9B8C;
    --color-gray: #D9D9D9;
}

body {
    background: #f8f6f0;
}

.header__middle {
    padding: 73px 0 72px;
}

.container {
    max-width: 1460px;
    padding: 0 13px;
}

.header__middle .container {
    max-width: 1460px;
    padding: 0 clamp(0.8125rem, 0.6611rem + 0.6731vw, 1.25rem);
    height: 100%;
    gap: clamp(2rem, 0.9183rem + 4.8077vw, 5.125rem);
}

.header__middle .logo {
    min-width: fit-content;
}

.logo--text {
    font-size: clamp(1.25rem, 0.3846rem + 3.8462vw, 3.75rem);
    line-height: 1;
    font-weight: 500;
    min-width: 345px;
    display: flex;
}

.logo--text .logo--text-dark {
    color: var(--color-brown-dark);
}

.logo--text .logo--text-light {
    color: var(--color-beige);
}

.header__info {
    justify-content: flex-end;
    gap: 28px;
    width: fit-content;
}

.header--listing {
    background-color: var(--color-brown-dark);
    color: var(--color-white);
    font-size: 22px;
    font-weight: 500;
    padding: 17px 56px;
}

.search--small {
    min-width: clamp(11.3125rem, 6.5745rem + 21.0577vw, 25rem);
    background: #F8F6F0;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    border-radius: 0;
    border: 2.5px solid rgba(0, 0, 0, 0.7);
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.search--small input {
    padding-left: 60px;
    padding-right: 50px;
    width: 100%;
    height: 100%;
    background: transparent;
}


.search--small .icon-search {
    position: absolute;
    left: 19px;
    width: 20px;
    height: 18px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='21' viewBox='0 0 24 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.4347 12.0297C18.5178 16.8397 13.8752 19.9958 9.06516 19.079C4.25508 18.1621 1.099 13.5195 2.01585 8.70942C2.93271 3.89934 7.57531 0.74326 12.3854 1.66012C17.1955 2.57697 20.3515 7.21957 19.4347 12.0297Z' fill='%23F8F6F0'/%3E%3Cpath d='M16.7443 15.5295L22.7462 19.9973M19.4347 12.0297C18.5178 16.8397 13.8752 19.9958 9.06516 19.079C4.25508 18.1621 1.099 13.5195 2.01585 8.70942C2.93271 3.89934 7.57531 0.74326 12.3854 1.66012C17.1955 2.57697 20.3515 7.21957 19.4347 12.0297Z' stroke='black' stroke-opacity='0.7' stroke-width='2.5'/%3E%3C/svg%3E%0A");
    background-size: cover;
    display: block;
}

.language-switcher--small {
    width: 30px;
}

.mobile-links {
    display: none;
}

.header__btm .container {
    padding: 0 20px;
}

.header__btm .header__nav>ul {
    gap: 0;
}

.header__btm .header__nav>ul li {
    padding: 42px 16px;
    min-height: 141px;
    display: flex;
    align-items: center;
}

.header__btm .header__nav>ul li.active {
    background: #af9b8c;
}


.header__btm .container .nav-list-simple>li a {
    text-wrap: wrap;
    font-size: 22px;
    line-height: 1.3;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
}

.main {
    margin-top: calc(293px + 62px);
}

.hero--simple {
    background-color: var(--color-gray);
    padding: 90px 0;
    font-size: 70px;
    line-height: 1.2;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content--padding-top--big {
    padding: 143px 0 0 0;
}

.content {
    font-size: 26px;
    font-weight: 500;
    line-height: 1.2;
    color: rgba(0, 0, 0, 0.8);

}

.content p {
    font-size: 26px;
    font-weight: 400;
    line-height: 1.2;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 30px;
}

.content h2 {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2;
    color: rgba(0, 0, 0, 0.85);
    margin: 30px 0;
}

.content h3 {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
    color: rgba(0, 0, 0, 0.85);
    margin: 30px 0;
}

.content ul {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
    color: rgba(0, 0, 0, 0.8);
    margin-left: 43px;
    list-style: disc;
}

.content ul li {
    margin-bottom: 20px;
    list-style: disc;
}

.text-banner .container .inner {
    display: flex;
    margin: 72px 0 90px;
}

.text-banner .container .inner.padding-top100 {
    padding-top: 100px;
}

.text-banner__left {
    flex: 3 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    background-color: var(--color-beige-light);
}

.text-banner__title {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2;
    color: rgba(0, 0, 0, 0.85);
    margin-bottom: 30px;
}

.text-banner__text {
    font-size: 26px;
    font-weight: 500;
    line-height: 1.2;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 44px;
}

.text-banner__button {
    padding: 25px 70px;
    background: var(--color-brown-dark);
    color: #F8F6F0;
    border: none;
    border-radius: 0;
    font-size: 26px;
    font-weight: 500;
    line-height: 1.2;
    cursor: pointer;
}

.text-banner__button:hover {
    opacity: 0.8;
}

.text-banner__right_rounded .text-banner__right {
    border-radius: 0 50% 50% 0;
    overflow: hidden;
}

.text-banner__list {
    padding-left: 57px;
}

.text-banner__list,
.text-banner__list li {
    list-style: disc;
    font-size: 30px;
    line-height: 1.7;
    color: rgba(0, 0, 0, 0.85);
}

.text-banner__right {
    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-beige-light);
}

.text-banner__agora-bg {
    width: 100%;
    height: 100%;
    background: radial-gradient(76.98% 76.98% at 50% 50%, #F8F6F0 0%, #AF9B8C 31.73%, #866655 57.21%, #482B1E 98.08%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-banner__agora-text {
    font-size: 110px;
    font-weight: 500;
    color: var(--color-brown-dark);
}

.text-banner__right-image {
    width: 100%;
    height: 100%;
}

.padded {
    padding: 0 47px;
}

.hr-spacer {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 40px 0;
}

.collapsed-list {
    position: relative;
}

.collapsed-list-heading {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
    color: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 40px;
    padding: 0 47px;
    border-bottom: 1px solid rgba(0, 0, 0, .85);
}

.icon-collapse-down {
    display: inline-block;
    width: 43px;
    height: 28px;
    background-image: url("data:image/svg+xml,%3Csvg width='43' height='28' viewBox='0 0 43 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='43' height='28' fill='%23F8F6F0'/%3E%3Cpath d='M10 8C10.3471 8.34713 17.3843 15.3843 21.2937 19.2937C21.6842 19.6842 22.3166 19.6834 22.7071 19.2929L28 14L34 8' stroke='black' stroke-opacity='0.85' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.collapsed-list-panel {
    display: none;
    padding: 19px 35px;
    background-color: var(--color-white);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    z-index: 10;
}

.collapsed-list-panel.active {
    display: block;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 17px 0;
    background: #f9f6ef;
    margin: 0 -17px;
    padding-bottom: 30px;
}

thead th {
    background: #d8d8d8;
    text-align: left;
    padding: 33px 43px;
    font-size: 22px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
    width: 50%;
}

tbody td {
    padding: 30px 47px;
    font-size: 26px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
    border-bottom: 1px solid #ccc;
}

.heading-halfwidth {
    padding-inline-end: 50%;
}

.heading-bg-beige-image-big {
    background-color: var(--color-beige-light);
    color: rgba(0, 0, 0, 0.85);
    font-size: 60px;
    font-weight: 500;
    line-height: 1.2;
    padding: 90px 51px;
    background-image: url(/assets/images/heading-bg-beige-image.jpg);
    background-repeat: no-repeat;
    background-position: center right;
    margin-bottom: 63px;
}

.heading-bg-brown-dark {
    background-color: #866655;
    color: rgba(0, 0, 0, 0.85);
    font-size: 60px;
    font-weight: 500;
    line-height: 1.2;
    padding: 90px 51px;
}

.heading-bg-brown-dark-image {
    background-image: url(/assets/images/heading-bg-brown-dark-image.jpg);
    background-repeat: no-repeat;
    background-position: center right;
}

.space30 {
    height: 30px;
}

.space100 {
    height: 100px;
}

.regions-rates {
    display: flex;
    gap: 18px;
    background: #f5f2eb;
    padding: 20px 0 80px;
}

.region-card {
    background: #8b6651;
    color: #000;
    flex: 1;
    min-height: 240px;
    position: relative;
    padding: 23px 44px 0 46px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.region-card p {
    font-size: 22px;
}

.region-card ul {
    margin: 0;
}

.region-card span {
    align-self: flex-end;
    font-weight: bold;
    font-size: 22px;
    position: relative;
    z-index: 2;
    padding: 18px;
    right: -44px;
    cursor: pointer;
}

.region-card:hover span {
    color: #000;
}

.region-card span::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 210px;
    height: 133px;
    background-size: cover;
    background-position: bottom right;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: -1;
}

.region-card:hover span::before {
    opacity: 1;
    background-image: url("data:image/svg+xml,%3Csvg width='210' height='133' viewBox='0 0 210 133' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M210 0V133H0L210 0Z' fill='%23D9D9D9'/%3E%3Cpath d='M210 0C209.027 2.00127 58.5 120.182 1 133C1 133 32.5 109.923 32.5 25.5C105 55.5564 210 0 210 0Z' fill='url(%23paint0_linear_0_1)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_0_1' x1='105' y1='-8' x2='105' y2='133' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23D9D9D9'/%3E%3Cstop offset='1' stop-color='%23737373'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}

.sales-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 17px 0;
    font-size: 26px;
    line-height: 170%;
    color: rgba(0, 0, 0, 0.85);
}

.sales-table th {
    background: #af9b8c;
    font-weight: 500;
    text-align: left;
    padding: 16px 43px 35px;
    vertical-align: top;
    width: 33%;
}

.sales-table td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
    font-weight: 400;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.85);
    padding: 30px 43px;
}

.sales-table strong {
    font-weight: 500;
}

.excluded-categories {
    width: 100%;
    margin: 0 0;
    padding: 30px 50% 47px 30px;
    position: relative;
}

.excluded-categories h2 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.85);
    padding-inline-end: 90px;
}

.accordion-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}

.accordion-header {
    width: 100%;
    background: none;
    border: none;
    text-align: left;
    padding: 27px 0 27px 48px;
    font-size: 26px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordion-header.active::after {
    transform: rotate(180deg);
}

.accordion-content {
    display: none;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background: var(--color-white);
    padding: 22px 10px 24px 48px;
    position: absolute;
    left: 0;
    z-index: 10;
    box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
    width: 77%;
}


.accordion-content p {
    font-size: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.2;
}

.accordion-content.active {
    display: block;
}

.accordion-content p {
    padding: 10px 0;
    margin: 0;
}

.faq-section h2 {
    background-color: var(--color-gray);
    font-size: 50px;
    font-weight: 500;
    line-height: 1.2;
    color: rgba(0, 0, 0, 0.85);
    padding: 55px 47px;
}

.faq-section-title-image {
    background-image: url(/assets/images/faq-section-title-image.jpg);
    background-repeat: no-repeat;
    background-position: center right;
}

.faq-section .accordion {
    position: relative;
}

.faq-section .accordion.not-fullwidth {
    width: 100%;
    max-width: 830px;
}

.country-fees-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 17px 10px;
    font-size: 26px;
    font-weight: 500;
    line-height: 1.2;
}

.country-fees-table th {
    background: var(--color-gray);
    text-align: left;
    padding: 33px 47px 29px 47px;
    color: rgba(0, 0, 0, 0.85);
}

.country-fees-table td {
    border: 1px solid #ddd;
    vertical-align: top;
    padding: 36px 47px 33px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

.country-fees-table tr+tr td {
    border-top: none;
}

.block-beige-bg {
    padding: 50px 47px;
    background-color: var(--color-beige);
    margin-bottom: 30px;
}

.block-beige-bg p {
    color: rgba(0, 0, 0, 0.85);
}

.fs22 {
    font-size: 22px ! important;
}

.footer.footer-light {
    background: transparent;
    color: rgba(0, 0, 0, 0.85);
    box-shadow: none;
    padding: 0;
}

.footer.footer-light .container .footer__inner {
    border-top: none;
    padding: 0;
    flex-direction: column;
}

.footer.footer-light .container .footer__inner .footer-menu-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 34px 43px;
    padding: 50px;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.7);
}

.footer-menu-grid .footer__inner-item:nth-child(4n+1) {
    max-width: 336px;
}

.footer-menu-grid .footer__inner-item:nth-child(4n+2) {
    max-width: 341px;
}

.footer-menu-grid .footer__inner-item:nth-child(4n+3) {
    max-width: 270px;
}

.footer-menu-grid .footer__inner-item:nth-child(4n+4) {
    max-width: 240px;
}

.footer.footer-light .footer__menu-title {
    font-size: 26px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
    margin-bottom: 0;
}

.footer.footer-light .footer__menu-item,
.footer.footer-light .footer__menu-item a {
    font-size: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
    margin-bottom: 0;
}

.footer.footer-light .footer__menu-item a {
    line-height: 1.4;
}

.footer.footer-light .footer__menu {
    gap: 26px;
    max-width: fit-content;
}

.footer.footer-light .footer__socials {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.7);
    padding: 60px 0 0;
    margin: 0;
    align-items: center;
}

.footer.footer-light .footer__inner-item.footer__copyright {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 30px 0;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 22px;
}

.footer.footer-light .footer__copyright p,
.footer.footer-light .footer__copyright span,
.footer.footer-light .footer__copyright a {
    font-size: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
    margin: 0;
}

.footer.footer-light .footer__socials p {
    font-size: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
    margin-bottom: 20px;
}

.mobile-links-arrow {
    width: 15px;
    height: 7px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='8' viewBox='0 0 16 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.4648 0.464837C11.6601 0.269574 11.9766 0.269574 12.1719 0.464837L15.3535 3.64648C15.5488 3.84174 15.5488 4.15825 15.3535 4.35351L12.1719 7.53515C11.9766 7.73041 11.6601 7.73041 11.4648 7.53515C11.2696 7.33989 11.2696 7.02338 11.4648 6.82812L13.793 4.49999H0V3.49999H13.793L11.4648 1.17187C11.2696 0.976606 11.2696 0.660099 11.4648 0.464837Z' fill='black' fill-opacity='0.85'/%3E%3C/svg%3E%0A");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
}

@media (max-width: 1500px) {

    .header__btm .container .nav-list-simple>li a {
        font-size: 18px;
        line-height: 1.3;
    }

    .footer-menu-grid .footer__inner-item {
        max-width: 30.33% !important;
    }
}

@media (max-width: 1340px) {
    .header__btm .header__nav>ul li {
        padding: 26px 10px;
        min-height: 130px;
    }
}

@media (max-width: 1240px) {
    .header__btm .container .nav-list-simple>li a {
        font-size: 16px;
    }

    .footer.footer-light .container .footer__inner .footer-menu-grid {
        gap: 48px 40px;
    }

    .footer-menu-grid .footer__inner-item {
        flex: 0 0 calc(50% - 25px) !important;
        max-width: calc(50% - 25px) !important;
    }
}

@media (max-width: 980px) {
    .header__btm .header__nav>ul li {
        padding: 18px 6px;
        min-height: 100px;
    }

    .header__btm .container .nav-list-simple>li a {
        font-size: 12px;
    }

    .header__middle {
        padding: 42px 0 42px;
    }

    .column-title,
    .block-title {
        font-size: 15px;
        margin-bottom: 10px;
    }

    .menu-item {
        margin-bottom: 10px;
    }

    .menu-item a {
        font-size: 14px;
    }

    .footer.footer-light .footer__menu-title {
        font-size: 22px;
    }

    .footer.footer-light .footer__menu {
        gap: 18px;
    }

    .footer.footer-light .footer__menu-item,
    .footer.footer-light .footer__menu-item a {
        font-size: 18px;
    }

    .footer.footer-light .footer__socials p {
        font-size: 18px;
        margin-bottom: 0;
    }

    .footer.footer-light .container .footer__inner .footer-menu-grid {
        padding: 20px 38px 29px;
    }

    .footer.footer-light .footer__socials {
        padding: 29px 0 0;
    }

    .footer.footer-light .footer__copyright p,
    .footer.footer-light .footer__copyright span,
    .footer.footer-light .footer__copyright a {
        font-size: 18px;
    }

    .footer.footer-light .footer__inner-item.footer__copyright {
        padding: 13px 0 62px;
    }
}

@media (max-width: 768px) {
    .regions-rates {
        flex-direction: column;
    }

    .header__middle {
        padding: 13px 0 14px;
    }

    .search--small {
        border: 0.30px solid #482b1e;
        border-radius: 3px;
        height: 23px;
        min-width: 181px;
        box-shadow: none;
    }

    .search--small .icon-search {
        left: 9px;
        width: 12px;
        height: 11px;
    }

    .search--small input {
        padding-left: 10px;
        padding-right: 10px;
    }

    .header__middle .container {
        padding-right: 24px;
    }

    .header__btm {
        display: none;
    }

    .mobile-links {
        display: flex;
        flex-direction: column;
    }

    .mobile-links>ul li a {
        font-size: 14px;
        line-height: 1;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.85);
        padding: 15px 13px;
        border-width: 1px 0;
        border-style: solid;
        border-color: rgba(0, 0, 0, .15);
        margin-top: 4px;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .menu-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.4);
        z-index: 1299;
        opacity: 0;
        pointer-events: none;
        transition: 0.3s;
    }

    .menu-overlay.active {
        opacity: 1;
        pointer-events: all;
    }

    .mobile-menu-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        display: flex;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

    .menu-level-1,
    .menu-level-2 {
        box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15), 0 1px 2px 0 rgba(0, 0, 0, 0.3);
        background: #f8f6f0;
        border-radius: 0 30px 30px 0;
        position: absolute;
        z-index: 1200;
        top: 100px;
        left: 0;
        width: 214px;
        height: 527px;
        transition: 0.5s;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .menu-level-1.active {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

    .menu-level-2 {
        left: unset;
        right: 0;
        border-radius: 30px 0 0 30px;
        width: 236px;
        z-index: 1300
    }

    .menu-level-2.active {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

    .menu-level-1 ul,
    .menu-level-2 ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 12px 22px 12px 8px;
    }

    .menu-level-2 ul {
        padding: 21px 18px 12px 18px;
    }

    .mobile-menu-wrapper ul li a {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .mobile-menu-wrapper ul li a .mobile-links-arrow {
        margin-bottom: 3px;
        display: block;
    }

    .menu-level-1 ul li a span:first-child {
        display: block;
        max-width: 123px;
    }

    .menu-level-2 ul li a {
        border-bottom: 0.75px solid rgba(0, 0, 0, 0.7);
    }

    .menu-level-2 ul li a span:first-child {
        display: block;
        width: 100%;
    }

    .menu-level-1 ul li:first-child a span:first-child,
    .menu-level-1 ul li:last-child a span:first-child {
        display: block;
        max-width: 96px;
    }


    .regions-rates {
        flex-direction: column;
    }

    .footer.footer-light .footer__menu-title {
        font-size: 14px;
    }

    .footer.footer-light .footer__menu-item,
    .footer.footer-light .footer__menu-item a {
        font-size: 13px;
    }

    .footer.footer-light .footer__menu {
        gap: 8px;
    }

    .footer.footer-light .container .footer__inner .footer-menu-grid {
        gap: 32px 50px;
    }

    .footer__inner-item.footer__copyright span:nth-child(2n) {
        display: none;
    }

    .footer.footer-light .footer__inner-item.footer__copyright {
        gap: 5px;
        flex-direction: column;
    }

    .footer__inner-item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 8px);
        flex: 0 0 calc(50% - 8px);
        max-width: calc(50% - 8px);
    }
}

@media (max-width: 900px) {
    .text-banner {
        flex-direction: column;
        gap: 24px;
    }

    .text-banner__right {
        justify-content: flex-start;
    }
}

@media (min-width: 1920px) {

    .container,
    .header__middle .container,
    .header__btm .container {
        max-width: 1860px;
        padding: 0;
    }
}

@media (max-width: 1360px) {
    .header--listing {
        display: none;
    }
}

@media (min-width:460px) {

    .text-banner__left .text-banner__agora-bg {
        display: none;
    }
}

@media (max-width:460px) {
    .main {
        margin-top: 7px;
    }

    .container {
        padding: 0;
    }

    .br-xl {
        display: none;
    }

    .header__info {
        gap: 6px;
    }

    .header__middle {
        padding: 13px 0;
    }

    .header__middle .container {
        gap: 10px;
    }

    .search--small {
        height: 23px;
        border-radius: 3px;
        box-shadow: none;
        border: 1px solid #482B1E;
        width: 100%;
        min-width: 151px;
    }

    .search--small .icon-search {
        width: 11px;
        height: 10px;
        left: 7px;
    }


    .hero--simple {
        padding: 34px 32px;
        font-size: 24px;
    }

    .content--padding-top--big {
        padding: 56px 0 64px 0;
    }

    .content ul {
        font-size: 18px;
        margin-left: 22px;
    }

    .text-banner .container .inner {
        margin: 0;
        flex-direction: column;
    }

    .text-banner__left {
        padding: 0;
    }

    .text-banner__title {
        font-size: 24px;
        text-align: center;
        padding: 33px 44px 19px;
        margin: 0;
    }

    .text-banner__text {
        font-size: 18px;
        margin: 0;
        padding: 31px 10px 39px;
    }

    .text-banner__button {
        padding: 13px 36px;
        font-size: 14px;
        margin: 0 auto 32px;
    }

    .text-banner__list {
        padding-left: 0;
        margin-top: 20px;
    }

    .text-banner__list li {
        font-size: 18px;
    }

    .text-banner__right_rounded .text-banner__right {
        border-radius: 0;
    }

    .text-banner__right-image {
        width: 100%;
        height: auto;
    }

    .text-banner__agora-bg {
        height: 441px;
        margin-bottom: 31px;
    }

    .text-banner__agora-text {
        font-size: 50px;
    }

    .text-banner__right {
        display: none;
    }

    .padded {
        padding: 31px 13px;
    }

    .content p {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .content h2 {
        font-size: 25px;
        margin: 0 0 10px;
    }

    .collapsed-list-heading {
        font-size: 18px;
        padding: 0 0 0 13px;
        gap: 20px;
        border-bottom: 1px solid rgba(0, 0, 0, .85);
        width: 61%;
    }

    .hr-spacer {
        margin: 10px 0;
    }

    .icon-collapse-down {
        width: 14px;
        height: 12px;
    }

    .collapsed-list-panel {
        top: 100%;
        padding: 19px 19px 0 0;
    }

    .collapsed-list-panel ul {
        font-size: 16px;
    }

    .collapsed-list-panel ul li {
        margin-bottom: 10px;
    }

    .space30 {
        display: none;
    }

    .content h3 {
        font-size: 20px;
        margin: 0 0 10px;
    }

    .heading-halfwidth {
        padding-inline-end: 0;
    }

    table {
        border-collapse: collapse;
        word-break: break-word;
    }

    thead th {
        font-size: 16px;
        padding: 20px;
        border: 1px solid rgba(0, 0, 0, 0.7);
    }

    thead th:nth-child(1) {
        width: 60%;
    }

    thead th:nth-child(2) {
        width: 40%;
    }

    tbody tr td {
        border-right: 1px solid rgba(0, 0, 0, 0.7);
        border-bottom: 1px solid rgba(0, 0, 0, 0.7);
    }

    tbody td {
        padding: 9px 20px;
        font-size: 14px;
    }

    .regions-rates {
        margin: 0;
        padding: 0;
        gap: 6px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .region-card {
        background-color: var(--color-beige-light);
        height: 100%;
        min-height: 150px;
        padding: 0;
    }

    .region-card p {
        font-size: 14px;
        padding: 21px 13px;
    }

    .region-card span {
        font-size: 14px;
        right: 0;
        bottom: 0;
        border-top-left-radius: 20px;
        box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .footer__menu-item {
        display: none;
    }

    .footer__menu-item.active {
        display: block;
    }
}